.header {
    @include flex(column,nowrap,flex-end,flex-end,flex-end);
    padding: 0 15% 10vh 15%;
    background-image: url('../assets/header-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &_heading {
        font-size: 1.4em;
        font-weight: 400;
        color: $colorMineShalfLighten18;
        width: 90%;
    }
    @include screen(desktop){
        padding-top: 180px;
        &_heading {
            width: 50%;
        }
    }
}