* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 80%; }

@media only screen and (min-width: 768px) {
  html {
    font-size: 1.1rem; } }

@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.2rem; } }

body {
  font-family: 'Roboto', sans-serif;
  color: #222222; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #efeee9; }
  .root_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 40; }
  .root_header {
    width: 100%;
    min-height: 100vh; }
  .root_main {
    width: 100%; }
  .root_footer {
    width: 100%; }
  @media only screen and (min-width: 1024px) {
    .root_nav {
      padding: 1em 0;
      height: 180px; }
    .root_nav.-sticky {
      height: 3em; } }

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  padding: 0 15% 10vh 15%;
  background-image: url("../assets/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .header_heading {
    font-size: 1.4em;
    font-weight: 400;
    color: #505050;
    width: 90%; }
  @media only screen and (min-width: 1024px) {
    .header {
      padding-top: 180px; }
      .header_heading {
        width: 50%; } }

.menu {
  background-color: #efeee9;
  display: none; }
  .menu.-toggle {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0;
    animation: fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; }
  .menu_item {
    font-size: 0.8em;
    margin: 1.5em 2em; }
  .menu_item.-logo {
    font-size: 1.5em; }
  .menu_link {
    text-decoration: none;
    letter-spacing: 0.5em;
    color: #222222;
    transition: 0.3s; }
  .menu_link:hover, .menu_link:focus {
    color: #505050; }
  @media only screen and (min-width: 1024px) {
    .menu {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-color: transparent; }
      .menu.-toggle {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: center; }
      .menu_item {
        font-size: 0.6em;
        margin: 0 2em; } }

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s; }
  .nav_trigger {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 60;
    width: 25px;
    height: 25px; }
  .nav_menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100vh;
    width: 100%; }
  @media only screen and (min-width: 1024px) {
    .nav.-sticky {
      transition: 0.5s;
      background-color: rgba(255, 255, 255, 0.95); }
    .nav_menu {
      position: static;
      height: auto; }
    .nav_trigger {
      display: none; } }

.trigger {
  border: none;
  background-color: transparent;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0; }
  .trigger_line {
    position: absolute;
    height: 20%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.6);
    left: 0;
    transition: 0.3s; }
  .trigger_line.-first {
    top: 0; }
  .trigger_line.-second {
    top: 40%; }
  .trigger_line.-third {
    top: 80%; }
  .trigger.-active .trigger_line.-first {
    top: 40%;
    transform: rotate(45deg) scaleX(1.4); }
  .trigger.-active .trigger_line.-second {
    top: 40%;
    opacity: 0; }
  .trigger.-active .trigger_line.-third {
    top: 40%;
    transform: rotate(-45deg) scaleX(1.4); }
  .trigger:hover, .trigger:focus {
    outline: none; }

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .about_heading {
    font-weight: 400;
    margin: 100px 0;
    width: 90%;
    font-size: 1.8em; }
  .about_box.-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    width: 100%; }
  .about_decoration {
    background-image: url("../assets/decoration-about.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 30%; }
  .about_decoration:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2); }
  .about_box.-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 70%;
    padding: 5em 3em;
    background-color: white;
    position: relative; }
  .about_aboutItem {
    width: 90%;
    max-width: 200px; }
  @media only screen and (min-width: 768px) {
    .about_heading {
      font-weight: 400;
      margin: 150px 0;
      width: 70%; }
    .about_decoration {
      width: 40%; }
    .about_box.-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      width: 60%;
      padding: 5em 5em; }
    .about_aboutItem {
      width: 70%;
      max-width: 270px; } }
  @media only screen and (min-width: 1024px) {
    .about_heading {
      font-weight: 400;
      margin: 220px 0;
      width: 60%;
      max-width: 760px; }
    .about_decoration {
      width: 50%;
      background-size: cover; }
    .about_box.-content {
      width: 50%; }
    .about_aboutItem {
      width: 50%;
      max-width: 350px; } }

.aboutItem {
  color: #290A59; }
  .aboutItem.-middle {
    margin: 2em 0; }
  .aboutItem_heading {
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.4em;
    margin-bottom: 0.3em; }
  .aboutItem_paragraph {
    margin-top: 0;
    font-size: 0.8em; }
  @media only screen and (min-width: 1024px) {
    .aboutItem_heading {
      font-size: 0.9em; }
    .aboutItem_paragraph {
      font-size: 0.7em; } }

.articles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3em 0; }
  .articles_articleItem {
    margin: 2em;
    width: 100%; }
  @media only screen and (min-width: 460px) {
    .articles_articleItem {
      width: 80%; } }
  @media only screen and (min-width: 460px) {
    .articles_articleItem {
      width: 60%; } }
  @media only screen and (min-width: 1024px) {
    .articles {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 4em 0; }
      .articles_articleItem {
        min-width: 350px;
        max-width: 450px;
        width: 25%; } }

.articleItem {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  padding: 3em 2em; }
  .articleItem_heading {
    margin: 0;
    font-size: 1.2em; }
  .articleItem_paragraph {
    font-size: 0.9em;
    margin: 2em 0; }
  .articleItem_link {
    margin-top: 1em;
    color: #4E4AFF;
    transition: 0.3s;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 0.1em 2px;
    overflow: hidden; }
  .articleItem_link:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transition: 0.3s;
    background-color: #4E4AFF; }
  .articleItem_link:hover, .articleItem_link:focus {
    color: #02004a; }
  .articleItem_link:hover:before, .articleItem_link:focus:before {
    height: 100%;
    opacity: 0.5; }
  @media only screen and (min-width: 768px) {
    .articleItem {
      padding: 3em 4em; } }

.portfolio {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .portfolio_box.-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 50px 0;
    background-color: white;
    padding: 3em 2em; }
  .portfolio_heading {
    color: #626262;
    font-weight: 400;
    margin-bottom: 0.5em; }
  .portfolio_paragraph {
    margin: 4em 0;
    text-align: center; }
  .portfolio_button {
    border: 2px solid #222222;
    transition: 0.3s;
    position: relative; }
  .portfolio_button:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #222222;
    transition: 0.3s;
    z-index: 5;
    transform: scaleY(0);
    transform-origin: bottom center; }
  .portfolio_buttonText {
    position: relative;
    z-index: 10; }
  .portfolio_button:hover, .portfolio_button:focus {
    color: rgba(255, 255, 255, 0.9); }
  .portfolio_button:hover:before, .portfolio_button:focus:before {
    transform: scaleY(1); }
  .portfolio_gallery {
    width: 100%; }
  @media only screen and (min-width: 768px) {
    .portfolio_box.-content {
      width: 70%;
      margin: 140px 0;
      padding: 4em 5em; } }
  @media only screen and (min-width: 1024px) {
    .portfolio_paragraph {
      margin: 4em 0;
      text-align: left; }
    .portfolio_box.-content {
      width: 70%;
      max-width: 1100px;
      margin: 180px 0;
      padding: 5em 11em; } }

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center; }
  .gallery_item {
    width: calc(100%);
    height: calc(100vw / 2);
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    z-index: 5; }
  .gallery_image {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    z-index: 10;
    padding: 0;
    margin: 0;
    display: block; }
  .gallery_text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 30;
    transition: 0.5s;
    color: white; }
  .gallery_item:hover .gallery_image {
    transform: scale(1.05); }
  .gallery_item:hover .gallery_text {
    opacity: 1; }
  @media only screen and (min-width: 460px) {
    .gallery_item {
      width: calc(100% / 2);
      height: calc(100vw / 3); } }
  @media only screen and (min-width: 1024px) {
    .gallery_item {
      width: calc(100% / 3);
      height: calc(100vw / 4); } }

.contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  background-color: #363636;
  padding-bottom: 2em; }
  .contact_box.-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 70%;
    padding: 2em 0; }
  .contact_paragraph {
    margin: 1em 0;
    max-width: 100%; }
  .contact_map {
    width: 70%;
    height: auto; }
  @media only screen and (min-width: 768px) {
    .contact {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding-bottom: 0; }
      .contact_paragraph {
        max-width: 80%; }
      .contact_box.-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        width: 35%; }
      .contact_map {
        width: 35%;
        height: auto; } }
  @media only screen and (min-width: 1024px) {
    .contact_paragraph {
      max-width: 65%; } }

.socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .socials_item {
    margin: 0 .5em; }
  .socials_link {
    text-decoration: none;
    color: #363636;
    font-size: 1.2em;
    transition: .3s; }
  .socials_link:hover, .socials_link:focus {
    color: #626262; }

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #efeee9;
  padding: 3em 2em; }
  .footer_socials {
    margin-bottom: 1.5em; }
  .footer_copyright {
    margin: 0;
    font-size: 1.2em;
    color: #363636; }
  @media only screen and (min-width: 768px) {
    .footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 3em 15%; }
      .footer_socials {
        margin-bottom: 0; } }

._text-caps {
  text-transform: uppercase; }

._text-bold {
  font-weight: 700; }

._text-right {
  text-align: right; }

._text-center {
  text-align: center; }

._list-box {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

._state-hidden {
  display: none; }

._button {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid inherit;
  cursor: pointer;
  padding: 0.7em 1.5em; }
