.gallery {
    @include flex(row,wrap,center,stretch,center);
    &_item {
        width: calc(100%);
        height: calc(100vw / 2);
        margin:0;
        padding: 0;
        position: relative;
        overflow: hidden;
        z-index: 5;
    }
    &_image {
        width: 100%;
        height: 100%;
        transition: 0.7s;
        z-index: 10;
        padding:0;
        margin:0;
        display: block;
    }
    &_text {
        @include flex(column,nowrap,center,center,center);
        text-align: center;
        position: absolute;
        box-sizing: border-box;
        margin:0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black,0.6);
        opacity: 0;
        z-index: 30;
        transition: 0.5s;
        color: white;
    }
    &_item:hover &_image {
        transform: scale(1.05);
    }
    &_item:hover &_text {
        opacity: 1;
    }
    @include screen(mobile) {
        &_item {
            width: calc(100% / 2);
            height: calc(100vw / 3);
        }
    }
    @include screen(desktop) {
        &_item {
            width: calc(100% / 3);
            height: calc(100vw / 4);
        }
    }
}