.portfolio {
    @include flex(column, nowrap,center,center,center);
    &_box.-content {
        @include flex(column,nowrap,center,center,center);
        width: 100%;
        margin: 50px 0;
        background-color: white;
        padding: 3em 2em;
    }
    &_heading {
        color: $colorMineShalfLighten25;
        font-weight: 400;
        margin-bottom: 0.5em;
    }
    &_paragraph {
        margin: 4em 0;
        text-align: center;
    }
    &_button {
        border: 2px solid $colorMineShalf;
        transition: 0.3s;
        position: relative;
    }
    &_button:before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        position: absolute;
        background-color: $colorMineShalf;
        transition: 0.3s;
        z-index: 5;
        transform: scaleY(0);
        transform-origin: bottom center;
    }
    &_buttonText {
        position: relative;
        z-index: 10;
    }
    &_button:hover,
    &_button:focus {
        color: rgba(white,0.9);
    }
    &_button:hover:before,
    &_button:focus:before {
        transform: scaleY(1);
    }
    &_gallery {
        width: 100%;
    }
    @include screen(tablet) {
        &_box.-content {
            width: 70%;
            margin: 140px 0;
            padding: 4em 5em;
        }
    }
    @include screen(desktop) {
        &_paragraph {
            margin: 4em 0;
            text-align: left;
        }
        &_box.-content {
            width: 70%;
            max-width: 1100px;
            margin: 180px 0;
            padding: 5em 11em;
        }
    }
}