
* {
    margin: 0;
    padding: 0;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 80%;
}

@include screen(tablet) {
    html {
        font-size: 1.1rem;
    }
}

@include screen(desktop) {
    html {
        font-size: 1.2rem;
    }
}
body {
    font-family: 'Roboto', sans-serif;
    color: $colorMineShalf;
}
